- Scene graph json to csv

In [31]:
import json
import pandas as pd

with open("../data/v1/scene_graph/scene_graph.json", 'r') as f:
    sg = json.load(f)

arr = []

for s in sg:
    obj_dict = dict()
    for o in s['OBJECTS']:
        obj_dict[o['OBJECT_ID']] = o['NAME']


    for o in s['OBJECTS']:
        
        critera_obj = obj_dict[o['OBJECT_ID']]
        for r in o["RELATIONS"]:
            temp_dict = dict()
            temp_dict['ID'] = s['Scene_Graph_ID']
            temp_dict['obj1'] = critera_obj
            temp_dict['rel'] = r['NAME']
            temp_dict['obj2'] = obj_dict[r['OBJECT']]

            arr.append(temp_dict)
sg_df = pd.DataFrame(arr)
sg_df

                             ID obj1   rel obj2
0     1010300210120230810100147    문   주변에   지붕
1     1010300210120230810100147    문    옆에   창문
2     1010300210120230810100147    문  오른쪽에   창문
3     1010300210120230810100147   창문   왼쪽에    문
4     1010300210120230810100147   창문    아래   지붕
...                         ...  ...   ...  ...
4504  1020110310320230816104012   현판   근처에   지붕
4505  1020110310320230816104012   현판    작은   지붕
4506  1020110310320230816104012   지붕     큰   현판
4507  1020110310320230816104012   지붕   근처에  태극기
4508  1020110310320230816104012   지붕   근처에   현판

[4509 rows x 4 columns]

In [33]:
sg_df.to_csv("../data/v1/scene_graph/scene_graph.csv", index=False)